#faq .faq-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

#faq .question{
    background-color: rgba(var(--color-bg-secondary-rgb), .5);
    padding: 1.5rem 1.3rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 16px;
}

#faq .faq.active .question,
#faq .question:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

#faq .question:hover{
    opacity: .7;
}

#faq .question .icon{
    font-size: 20px;
    transition:  all .8 ease-in-out;
}

#faq .question .icon.rotate{
    transform: rotate(-180deg);
}

#faq .answer{
    transition:  all .8 ease-in-out;
    max-height: 0;
    width: 100%;
    overflow: hidden;
}

#faq .faq.active .answer{
    max-height: 300px;
}

#faq .answer .answer-wrapper{
    background-color: var(--color-bg-primary);
    padding: 30px;
}

#faq .NSWER .answer-wrapper p{
    font-size: 15px;
    line-height: 25px;
}