#services{
    background-color: var(--color-bg-secondary);
    background-image: url("../../assets/bg-2.svg");
    overflow: hidden;
}

#services .overly{
    background-color: rgba(var(--color-bg-secondary-rgb), .8);
}

#services .section-container{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

#services .service .icon{
    font-size: 30px;
    color: var(--color-primary);
    transition: var(--transition);
    width: 2rem;
}

#services .service:hover .icon{
    transform: scale(1.1);
}

@media (max-width: 700px){
    #services .section-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 330pc){
    #services .section-container{
        grid-template-columns: 100%;
    }

    #services .service{
        text-align: center;
    }

    #services .service{
        margin: auto;
    }

    
}